@{
    ViewBag.Title = "Оплата по отпечаткам пальцев";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <p class="c-header">Узнать больше о проекте</p>
    <p class="content-p">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum enim hendrerit, tincidunt ante et, varius odio. Etiam et porta libero. Donec non viverra orci, in pellentesque turpis. Aenean eu tristique lacus, volutpat mollis arcu. Phasellus et iaculis felis. Duis ut adipiscing felis. Cras ac turpis non magna hendrerit dignissim.<br />
        <br />

        Phasellus consequat bibendum ullamcorper. Maecenas id massa in sapien placerat pharetra. Donec nec ultrices felis, sed bibendum ante. Proin tincidunt eros nibh, ut tincidunt augue pellentesque eget. Phasellus dignissim lorem non imperdiet auctor. In hac habitasse platea dictumst. Nulla vel urna volutpat neque rhoncus mattis vitae a nulla. Curabitur eget felis aliquet, blandit tellus in, luctus enim. Nulla et neque et nibh malesuada sagittis. Vestibulum varius neque sit amet adipiscing ullamcorper. Ut tortor turpis, condimentum et mi nec, convallis cursus dolor.<br />
        <br />

        Ut dui nisl, consectetur et erat nec, faucibus molestie ipsum. Praesent auctor nibh eget dignissim elementum. Vestibulum consequat ipsum at tincidunt accumsan. Donec ipsum orci, commodo a bibendum eget, lobortis et purus. Pellentesque mattis sed eros quis pretium. Duis ut sollicitudin justo, nec tempor justo. Nullam interdum, mauris ultricies vehicula gravida, erat nisi dignissim dui, et cursus urna sapien id dui. Proin non mattis libero.<br />
        <br />

        Sed eleifend tortor in metus volutpat pellentesque. Duis neque sem, placerat eu adipiscing eget, elementum quis massa. Nulla rhoncus lectus nec augue dignissim interdum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent viverra justo luctus, viverra sapien quis, pharetra orci. Fusce hendrerit posuere est in pellentesque. Pellentesque feugiat, ligula a rutrum bibendum, massa justo malesuada erat, non cursus ligula tortor in nibh. Aliquam eleifend, ligula non laoreet lobortis, dolor erat rhoncus magna, eget tincidunt lorem nulla at mauris. Proin pretium fringilla convallis. Integer pulvinar ornare risus, tincidunt condimentum magna blandit ut. Mauris sollicitudin, mauris malesuada ultrices rhoncus, mauris magna euismod orci, vel accumsan tellus sem sit amet est. Ut malesuada, nisl sed interdum scelerisque, enim eros tempor eros, sit amet volutpat quam nunc at orci.<br />
        <br />

        Nulla pulvinar metus viverra lectus imperdiet, sit amet mollis nisi aliquam. Sed felis nulla, pellentesque et odio sit amet, aliquam consectetur velit. Phasellus sed dui non orci pulvinar imperdiet. Nunc suscipit porttitor erat, in semper sapien fringilla eu. Maecenas ultrices sit amet turpis at aliquet. Vestibulum lobortis, lacus id euismod aliquet, nisi sapien viverra neque, suscipit feugiat enim velit adipiscing urna. Aliquam placerat ipsum a massa egestas euismod. Nullam vel dui dolor. Aliquam ut aliquam magna. Vivamus odio mi, imperdiet in arcu vitae, hendrerit iaculis felis. Curabitur eu metus iaculis, mattis est sit amet, vehicula justo.<br />
        <br />

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum enim hendrerit, tincidunt ante et, varius odio. Etiam et porta libero. Donec non viverra orci, in pellentesque turpis. Aenean eu tristique lacus, volutpat mollis arcu. Phasellus et iaculis felis. Duis ut adipiscing felis. Cras ac turpis non magna hendrerit dignissim.<br />
        <br />

        Phasellus consequat bibendum ullamcorper. Maecenas id massa in sapien placerat pharetra. Donec nec ultrices felis, sed bibendum ante. Proin tincidunt eros nibh, ut tincidunt augue pellentesque eget. Phasellus dignissim lorem non imperdiet auctor. In hac habitasse platea dictumst. Nulla vel urna volutpat neque rhoncus mattis vitae a nulla. Curabitur eget felis aliquet, blandit tellus in, luctus enim. Nulla et neque et nibh malesuada sagittis. Vestibulum varius neque sit amet adipiscing ullamcorper. Ut tortor turpis, condimentum et mi nec, convallis cursus dolor.<br />
        <br />

        Ut dui nisl, consectetur et erat nec, faucibus molestie ipsum. Praesent auctor nibh eget dignissim elementum. Vestibulum consequat ipsum at tincidunt accumsan. Donec ipsum orci, commodo a bibendum eget, lobortis et purus. Pellentesque mattis sed eros quis pretium. Duis ut sollicitudin justo, nec tempor justo. Nullam interdum, mauris ultricies vehicula gravida, erat nisi dignissim dui, et cursus urna sapien id dui. Proin non mattis libero.<br />
        <br />

        Sed eleifend tortor in metus volutpat pellentesque. Duis neque sem, placerat eu adipiscing eget, elementum quis massa. Nulla rhoncus lectus nec augue dignissim interdum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent viverra justo luctus, viverra sapien quis, pharetra orci. Fusce hendrerit posuere est in pellentesque. Pellentesque feugiat, ligula a rutrum bibendum, massa justo malesuada erat, non cursus ligula tortor in nibh. Aliquam eleifend, ligula non laoreet lobortis, dolor erat rhoncus magna, eget tincidunt lorem nulla at mauris. Proin pretium fringilla convallis. Integer pulvinar ornare risus, tincidunt condimentum magna blandit ut. Mauris sollicitudin, mauris malesuada ultrices rhoncus, mauris magna euismod orci, vel accumsan tellus sem sit amet est. Ut malesuada, nisl sed interdum scelerisque, enim eros tempor eros, sit amet volutpat quam nunc at orci.<br />
        <br />

        Nulla pulvinar metus viverra lectus imperdiet, sit amet mollis nisi aliquam. Sed felis nulla, pellentesque et odio sit amet, aliquam consectetur velit. Phasellus sed dui non orci pulvinar imperdiet. Nunc suscipit porttitor erat, in semper sapien fringilla eu. Maecenas ultrices sit amet turpis at aliquet. Vestibulum lobortis, lacus id euismod aliquet, nisi sapien viverra neque, suscipit feugiat enim velit adipiscing urna. Aliquam placerat ipsum a massa egestas euismod. Nullam vel dui dolor. Aliquam ut aliquam magna. Vivamus odio mi, imperdiet in arcu vitae, hendrerit iaculis felis. Curabitur eu metus iaculis, mattis est sit amet, vehicula justo.
    </p>
</div>
