@{
    ViewBag.Title = "Оплата по отпечаткам пальцев";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div id="content">
    <p class="c-header">Узнать больше о проекте</p>
    <div class="content-p">
        <h2>Как это работает?</h2>
        Просто прислолянешь один или несколько пальцев к сканеру и мгновенно совершается оплата.
        <img src="~/Images/Applied/1.png" width="150" height="150" align="left"/>
        Но прежде нужно привязать свою банковскую карту к системе, как это сделать можно 
        узнать в разделе Технология.
        <br/>
        <h2>Это просто, легко и безопасно.</h2>
        <img src="~/Images/Applied/cards.png" width="150" height="150" align="right"/>
        Все мы с вами с недавних пор стали владельцами карт многих банков и сетей известных торговых марок.
        И наш кошелёк уже рвётся от всего этого. Теперь, когда оплата может быть такой простой, нам нет
        необходимости носить с собой все банковские и скидочные карточки. 
        Если вы раньше могли забыть
        скидочную или банковскую карту, то теперь вам просто не нужно их иметь при себе.
        <br/>
        <h2>Так где можно это применить?</h2>
        Где есть оплата товаров и услуг. В магазине и ресторане, на АЗС и фитнес клубе, в аптеке и гостинице,
        и во многих других местах.
        <br/>
        <h2>Почему это безопасно?</h2>
        На фоне последних новостей работы АНБ (Агенство Национальной Безопасности) весь мир начал паниковать
        о своих личных данных. В данной технологии не хранятся ваши отпечатки пальцев. Современные
        способы и алгоритмы позволяют работать без оригинального отпечатка пальца. В разделе Безопасности
        вы можете поподробней ознакомиться как это достигается.
        <br/>
        Организации получат удобную технологию лояльных программ и привлечение новых клиентов.
    </div>
</div>
