@model ntipay.Models.User

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="for-form">
    @using (Html.BeginForm("SubmitEmail", "Home", FormMethod.Post, new { @class = "req-form" })) {
        @Html.ValidationSummary(true)
        @Html.ValidationMessageFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, new { @class = "emailTextBox" })        
        Html.ValidateFor(model => model.Email);
        <input type="image" src="~/Images/arrow.png" class="applyEmail" />
    }
    <p class="p-mail">
        Оставьте свой e-mail,<br />
        чтобы быть в курсе наших новостей
    </p>
    <p class="for-button-main">
        <a href="@Url.Action("Description", "Home")">
            <img src="~/Images/button-main.png" alt="next" class="button-main" />
        </a>
    </p>
</div>

<!--
<div class="rightPic">      
    <img src="Images/bigFingerPrint.png" alt="fingerPrint" />       
</div>                
-->
